<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="Prénom" formControlName="firstname">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nom (*)" formControlName="lastname">
        <mat-hint>Le nom est obligatoire...</mat-hint>
        <mat-error *ngIf="c.lastname.touched || c.lastname.dirty && c.lastname.errors">
            Vous devez saisir un nom valide...
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="date" matInput placeholder="Date de naissance" formControlName="birthdate">
    </mat-form-field>

    <button
        [disabled]="form.invalid"
    >
        Valider
    </button>
</form>